<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Technology Transfer Request form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <!-- prevent favicon.ico 404 error on server -->
    <link rel="icon" href="data:;base64,=">
</head>
<body>

    <div class="main">

        <div class="container">
            <form class="index-form">
                <h2>Technology Transfer Request form</h2>
                <div class="form-group-2">
                    <h3>Instructions:</h3>
                    <h4>
                        Complete ONE form per export. One export may include several related documents sent as a package, not
                        necessarily all at the same time. (Only one licence per form). <font color="red"><b>Fill out all sections in the next page.
                        <font color="red">When completed & signed, assign record number in Section 6.7.</b></font>
                    </h4>
                </div>
                <div class="form-group-2">
                    <h3>Warning: Propietary Rights and Export Control Notice</h3>
                    <h4>
                        This bulletin references information belonging to EASi Canada and/or its clients which is provided in confidence
                        and solely for the purpose of consulting services and/or for communication with suppliers as well, regarding
                        plans, models, engineering designs and specifications of client products, as directed therein. Neither this
                        bulletin nor any information referenced may be disclosed to others or used for any other purposes including,
                        without limitation, to develop, reproduce, create or derive any design, material, process, modification,
                        configuration change. The technology referenced in this bulletin may be subject to export control laws.
                        Unauthorized export or reexport is prohibited. By accepting and/or possessing this bulletin, you agree to be
                        bound by these terms. If a government agency or department intends to disclose any information, prior written
                        notice must be submitted to EASi Canada and/or Aerotek ULC at 3100 Boulevard Cote-Vertu, Suite 190, Ville
                        Saint-Laurent, QC H4R 2J8, Canada; or electronically by email to garsanchez@easi.com or faxed to (438) 844-
                        0886.
                    </h4>
                </div>
                <div class="form-group-2">
                    <h3>Export Control Jurisdiction</h3>
                    <h4>
                        Data referred herein may be subject to the jurisdiction of the Department of Foreign Affairs, Trade and
                        Development Canada, Department of Commerce of the United States of America, and/or Department of the
                        State of the United States of America. Data not initially subject to these departments would become subject to
                        them if exposed to any U.S. involvement. Licences may be required to reexport from Canada. Reexport to Cuba,
                        Iran, North Korea, and Syria are not permitted.
                    </h4>
                </div>
                <div id="button_to_form" class="form-submit">
                    <input class="form-button" type="button" value="Confirm" onclick="location.href='/form'">
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    {% block body %}{% endblock %}
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>